/* imports */

@import "components/header_style.css";
@import "components/general_style.css";
@import "components/welcome_text_style.css";
@import "components/sidebar_style.css";
@import "components/footer_style.css";
@import "components/youtube-embed-style.css";


/* grid container settings */

.grid-main {
    display: grid;
    grid-template-rows: 80vh max-content max-content min-content min-content;
    grid-template-columns: 60% 40%;
    grid-gap: 0.2rem;
    grid-template-areas:
        "header header"
        "welcome-text sidebar"
        "blog-post blog-post"
        "author-info recent-posts"
        "footer footer";
}

/* grid breakpoints */

@media(max-width:900px) {

    .grid-main {
        display: grid;
        grid-template-rows: 80vh min-content min-content min-content min-content 33vh;
        grid-template-columns: 100%;
        grid-gap: 0.2rem;
        grid-template-areas:
            "header"
            "welcome-text"
            "sidebar"
            "blog-post"
            "author-info"
            "recent-posts"
            "footer";
    }
}

/* blog post */

.grid-blog-post {
    grid-area: blog-post;
    background-color: #fff;
    width: 75vw;
    margin: 1em auto;
    padding: 2em;
}

.post-img {
    width: 100%;
}

.quote {
    background-color: #78909c;
    color: #fff;
    border-radius: 1em;
    padding: 0.2em 1em;
    margin-left: 2em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.link-highlight {
    font-style: italic;
    text-decoration: underline;
}

/* author info */

.grid-author-info {
    grid-area: author-info;
    background-color: #fff;
    padding: 2em;
    display: flex;

}

.author-img {
    height: 100%;
    min-height: 10vh;
    max-height: 15vh;
    border-radius: 100%;
    margin: 0 1em;
}

.author-title-text {
    display: block;
}

/* recent posts */

.grid-recent-posts {
    grid-area: recent-posts;
    background-color: #fff;
    padding: 2em;
}