/* General settings */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    padding: 1em;
    background-color: #eceff1;
}

p {
    margin: 1.2em 0;
}

a {
    color: #263238;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

/* button */

.button-container {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
}

.button {
    background-color: #78909c;
    color: #fff;
    font-weight: 500;
    padding: 0.8em 2em;
    border-radius: 1em;
}

.button:hover {
    background-color: #607d8b;
}

/* media queries // breakpoints */

@media(max-width:350px) {
    body {
        font-size: 14px;
    }

}