/* header section */

.grid-header {
    grid-area: header;
}

.header {
    height: 100%;
    background-image: linear-gradient(to right bottom,
            #455a64ee,
            #b0bec5aa),
        url(../../images/guitar_background_2.jpg);
    background-size: cover;
    background-position: bottom;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    position: relative;
}

.navigation {
    color: white;
    padding: 2rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav li:hover {
    font-weight: bolder;
}

.navigation a {
    color: white;
    font-size: 1.5rem;
}

.header-titles {
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-title-main {
    font-size: 40px;
    font-weight: 200;
}

.header-title-sub {
    font-size: 28px;
    font-weight: 400;
}

@media (max-width: 600px) {

    nav li {
        display: inline;
        margin: 0 0.2rem;
    }

    .navigation {
        padding: 0;
        position: absolute;
        left: 0;
        transform: translate(0, 0);
        width: 100%;
        margin: 0;
        margin-top: 1em;
    }

    .navigation ul {
        margin: 0 auto;
        text-align: center;
    }

    .navigation a {
        color: white;
        font-size: 1rem;
    }

    .header-title-sub {
        font-size: 1rem;
        /* display: none; */
    }

    .header-title-main {
        font-size: 1.2rem;
        font-weight: 200;
    }

}

@media (min-width: 601) and (max-width: 900px) {


    .navigation a {
        color: white;
        font-size: 1.5rem;
    }

    .header-title-main {
        font-size: 32px;
        font-weight: 200;
    }

    .header-title-sub {
        font-size: 24px;
        font-weight: 400;
    }

    .header-title-sub {
        display: none;
    }
}