.youtube-embed-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin: 1em 0;
}

.youtube-embed-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}