/* Grid */

grid-template-rows: [header-start] 88vh [header-end intro-start] 33vh [intro-end embed-start] 88vh [embed-end blog-cards-start] 1000px [blog-cards-end footer-start] 33vh [footer-end];


/* youtube embed section */

.grid-youtube-embed {
    grid-area: youtube-embed;
    background-color: bisque;
}

.youtube-title {
    margin: 1em 0;
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
}

.youtube-title span {
    display: block;
}

.youtube-video-container {}

.youtube-embed {}



/* Blog Posts */

.card {
    flex-basis: 40%;
    margin: 1em;
    padding: 1em;
    background: linear-gradient(to right bottom, #ff7b25cc, #feb236cc);
}
